<?xml version="1.0"?>
<model>
  <name>The OffWorld Robotics Rover</name>
  <version>1.0</version>
  <sdf version='1.4'>robot_model.sdf</sdf>

  <author>
   <name>Raghav Hariharan</name>
   <email>h.ragh99@gmail</email>
  </author>

  <description>
    A model of the OffWorld Robotics rover.
  </description>
</model>