<?xml version="1.0" encoding = "UTF-8"?>
<launch>
    
    <arg name="robot" default="machines"/>

    
<!--  Include launch.xml if needed -->
<param name= "robot_description" command="xacro '$(find skid_steer_robot)/urdf/robot_model.sdf'"/>

<!-- Send fake joint values-->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
<param name="use_gui" value="false"/>
</node>

<!-- Send robot states to tf -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

<arg name ="x" default="0"/>
<arg name ="y" default="1"/>
<arg name ="z" default="0.5"/>

<node name= "owr_rover" pkg="gazebo_ros" type="spawn_model" output= "screen" args= "-urdf -param robot_description -model owr_rover -x $(arg x) -y $(arg y) -z $(arg z)" />


</launch>