<?xml version="1.0" encoding = "UTF-8"?>
<launch>
    <param name="robot_description" command="xacro '$(find robot_description_pkg)/src/urdf/robot_model.sdf'"/>
    
    <arg name ="x" default="0"/>
    <arg name ="y" default="0"/>
    <arg name ="z" default="0.5"/>

    <node name= "owr_rover" pkg="gazebo_ros" type="spawn_model" output= "screen" args= "-urdf -param robot_description -model owr_rover -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>